* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

body {
  font-family: "Helvetica Neue", "Noto Sans JP", sans-serif;
  background: #000000;
  color: #14245c;
  overflow-x: hidden;
}

.section-view {
  scroll-snap-align: start;
}

.fade-section {
  opacity: 0;
  transform: translateY(35px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-section.is-show {
  opacity: 1;
  transform: translateY(0);
}

.section-view {
  scroll-snap-align: start;
  margin-bottom: 320px;
}