<div id="loading">
  <div class="loading-logo">HARUTO PORTFOLIO</div>

  <div class="loading-icons">
    <span><img class="loading-icon-img" src="assets/icons/citeLog.png" alt="CiteLog" /></span>
    <span><img class="loading-icon-img" src="assets/icons/citeLog.png" alt="CiteLog" /></span>
    <span><img class="loading-icon-img" src="assets/icons/citeLog.png" alt="CiteLog" /></span>
    <span><img class="loading-icon-img" src="assets/icons/citeLog.png" alt="CiteLog" /></span>
    <span><img class="loading-icon-img" src="assets/icons/citeLog.png" alt="CiteLog" /></span>
  </div>

  <p>Loading...</p>
</div>